data/*
!data/audio
data/audio/*
!data/feedback
data/feedback/*
!data/models/
data/models/CVmodels/*
data/models/NLPmodels/*
!*.md

.env
*guardrails.log
*cache*
*.wav
!*/tests/files/*.wav
*gradio_cached_examples/
*explorative_notebooks
*test.py
.vscode/*